# Series, DataFrame

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import sys
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
obj = pd.Series([4,7,-5,3], index=['d','b','a','c']) 

# 제목 이름 붙이기. 
obj4.name = 'population'  #Series 객체에 name 이름속성부여
obj4.index.name = 'state' #Series 색인에 name 이름 속성부여


#DataFrame 만들기 (no index)
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
       'year' : [2000, 2001, 2002, 2001, 2002, 2003],
       'pop' : [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)


pd.DataFrame(data, columns=['year', 'state']) #컬럼순서변경


#DataFrame 에 columns, index 직접 넣기
frame2 = pd.DataFrame(data, columns = ['year', 'state', 'pop', 'debt'],
                     index = ['one', 'two', 'three', 'four', 'five', 'six'])



# 중첩된 dictionary를 DataFrame에 넘기면, 바깥의 키는 컬럼이 되고 안쪽의 키는 로우가 된다.
# index는 0부터 숫자 부여됨.
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
      'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)


obj3.reindex(range(6), method='ffill') # index 바꾸기.
frame2=frame.reindex(['a', 'b', 'c', 'd']) #rows 명 색인 바꾸기
states=['Texas', 'Utha', 'California'] #columns 색인 바꾸기
frame.reindex(columns=states)


obj.drop('c', inplace=True) #drop해서 없애기
data.drop('two', axis=1)


data[data['three'] > 5] #boolean 배열로 찾기
data.loc['Colorado', ['two','three']] # 가로줄 출력
data.iloc[[1,2],[3,0,1]] # 가로줄 출력


format = lambda x: '%.2f' % x   #DataFrame은 applymap
frame.applymap(format)
frame['e'].map(format) #Series는 map


obj.sort_index(axis=1, ascending=False)  #index 정렬
frame.sort_values(by=['a','b']) #value로 정렬 (컬럼으로 정렬)

obj.rank(ascending=False, method='max') #rank 매김  오름차순 내림차순
obj.index.is_unique #중복색인 인지 아닌지
df.mean(axis='columns', skipna=False) # 평균값 NaN 제외
df.cumsum() #누적합
obj.value_counts() #중복인 index의 각각 몇개 들어있는지.

# Index.get_indexer 메서드는 여러값이 들어있는 배열에서 유일한 값의 색인 배열을 구할 수 있다.
unique_vals = obj.unique() # 중복인 index중에서 하나씩만 출력
pd.Index(unique_vals).get_indexer(obj)

NameError: name 'obj4' is not defined

In [6]:
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                   [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [7]:
# 컬럼 출력
data[2]

0    3.0
1    NaN
2    NaN
3    3.0
Name: 2, dtype: float64

In [8]:
# row 가로줄 행 출력.
data.iloc[2]
data.loc[2]

0   NaN
1   NaN
2   NaN
Name: 2, dtype: float64